html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

iframe {
    width: 100%;
    height: 100%;
    border: none;
    position: absolute;
}

#search-container {
    border: none;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    right: 0;
    width: 400px;
    height: 100%;
    z-index: 10000;
    background-color: rgb(36 7 80);
    font-family: Montserrat, "Noto Sans Arabic", "Helvetica Neue", Helvetica, Arial, sans-serif;
    transition: right 0.5s;
}

#search-tools {
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    margin: 20px;
    border-radius: 5px;
}

#search-tools input {
    margin-bottom: 0.625rem;
    font-weight: 700;
    border: 0.125rem solid rgb(204, 204, 204);
    background-color: rgb(255, 255, 255);
    padding: 0.25rem 0.375rem;
    transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;
    min-height: 2.375rem;
    max-height: 48px;
    line-height: 2.375rem;
    text-align: center;
    min-width: 6.25rem;
    color: rgb(51, 51, 51);
    outline: none;
    font-size: 1rem;
    border-radius: 4px;
    box-sizing: border-box;
    width: 100%;
    max-width: 100%;
}

#search-tools button {
    width: 100%;
    margin: 0px;
    border: 0px;
    cursor: pointer;
    display: inline-block;
    vertical-align: bottom;
    box-shadow: rgba(0, 0, 0, 0.25) 0px -4px inset;
    background: rgb(51, 51, 51);
    color: rgb(255, 255, 255);
    border-radius: 4px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    min-width: 48px;
    min-height: 48px;
    padding: 0px 16px 4px;
    position: relative;
    font-family: Montserrat, "Noto Sans Arabic", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1rem;
}

#search-results {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    overflow-y: scroll;
    padding: 15px;
    color: white;
    height: 100%;
}

#search-results .card {
    width: 400px;
    background-color: rgb(56, 18, 114);
    color: white;
    border-radius: 7px;
    padding: 20px;
}

#search-results .card img {
    width: 100%;
}


#search-enable {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    height: fit-content;
    gap: 15px;
}

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 55px;
    height: 31px;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 23px;
    width: 23px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #2196F3;
}

input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}


.material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 48;
    
    font-size: 30px;
    width: fit-content;
    height: fit-content;
    color: white;
}
.material-symbols-outlined:hover {
    cursor: pointer;
}

.closebutton {
    margin: 20px;
    margin-bottom: 5px;
    transition: scale 0.2s;
}
.closebutton:hover {
    scale: 1.3;
}

.openbutton {
    display: none !important;
    position: absolute;
    left: -60px;
    top: 80px;
    padding: 10px;
    border-radius: 100%;
    background-color: rgb(122 77 209);
    opacity: 0;
    transition: opacity 0.5s, background-color 0.2s;
}
.openbutton:hover {
    background-color: rgb(122 77 209 / 80%);
}

