<!DOCTYPE html>
<html lang="en" style="background-color: white;">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="http://localhost:{{port}}/static/index.css">
    <title>Answeroot</title>
</head>
<body>
    <div id="search-container">
        <div id="search-tools">
            <input type="text" id="search-input" class="sc-jHVexB jGxAXO enter-pin-form__GameInput-sc-z047z0-0 ftkppW" placeholder="Search for a Kahoot">
            <button id="search-button" class="sc-gWHgXt dYkSbe enter-pin-form__SubmitButton-sc-z047z0-2 jpVzEm">Search</button>
        </div>
        <div id="search-results"></div>
    </div>
</body>
</html>